.recetas-container {
  display: grid; /* Cambia a grid para organizar las tarjetas */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Crea columnas adaptables */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra el contenido en la página */
}

.receta-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  overflow: hidden;
}

.receta-img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}

.receta-card h2 {
  color: #333;
}

.receta-card ul, .receta-card ol {
  margin: 10px 0;
  padding-left: 20px;
}

.receta-card ul {
  list-style-type: disc;
}

.receta-card ol {
  list-style-type: decimal;
}
